body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    text-decoration: none;
}

.pulse-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: rgb(111, 218, 152);
    /* WhatsApp green */
    border-radius: 50%;
    animation: pulse 6s infinite;
    left: 0;
    right: 0;
}

.pulse-circle2 {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #e69500;
    border-radius: 50%;
    animation: pulse 4s infinite;
    left: 70%;
    right: 70%;
    top: 0;
}

.pulse-circle:nth-child(2) {
    animation-delay: 1s;
}

.pulse-circles:nth-child(2) {
    animation-delay: 2s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;

    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h1 {
    color: #25D366;
    /* WhatsApp green */
    margin-bottom: 10px;
}

.login-container h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.login-container button {
    background-color: #FFA500;
    /* Light orange */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.login-container button:hover {
    background-color: #e69500;
}

.signup-link {
    margin-top: 32px;
    color: #25D366;
    text-decoration: none;

}

.signup-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .login-container {
        /* padding: 15px; */
        height: 100%;
        width: 100%;
    }

    body {
        justify-content: center;
    }
}