body{
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.hero{
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
.content{
    width: 50%;
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.content h1{
    font-size: 40px;
    margin-bottom: -12px;
}
.content h1 span{
    color: orange;
}
.content p{
    font-size: 20;
}
.btn{
    border: none;
    font-size: 20px;
    width:150px;
    padding: 12px;
    border-radius: 8px;
}
.btns .signup{
    color: white;
    background-color: orange;
    margin-right: 4px;
 

}
.btns .login{
    color: orange;
    background-color:rgb(241, 228, 228);
    margin-left: 4px;

}
.login:hover{
    color:white;
    background-color:orange;
    transition: all 0.2s ease-in;
}

.image-cont{
    width: 50%;
    height: 100%;

}

/* Styling the hero image first to help further styling */
.hero-pic{
    width: 24vw;
    height: 70vh;
}




