* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #1c2c4c; */
    margin: 0;
    padding-left: 10px;
    height: 100vh;
    width: 100%;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    /* gap: 30px; */
}

/* aside section for the personal-user and the other users */
#messages-container {
    width: 330px;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    box-shadow: 2px 2px 2px #9393C1;
    background-color: #adb2b204;
    /* border-radius: 0 10px 10px 0; */
}

/* user information */
#user-Info-Header {
    width: 236px;
    height: 50px;
    border: 1px solid #000;
}

/* chats section that consist of the search box and users */
#messages-chat {
    width: 336px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* search div */
#messages-search {
    width: 300px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 12px;
    gap: 5px;
    border-radius: 25px;
    box-shadow: 3px 3px 4px #9393C1;
}

/* search icon */
img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

/* the inputs */
#search {
    width: 280px;
    height: 24px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #9393C1;
}

/* other users display */
#messages1 {
    width: 336px;
    height: 550px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0 0 0;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.connected {
    color: black;
    margin-bottom: 10px;
    /* background-color: antiquewhite; */
    width: 100%;
    /* height: 60px; */
    padding: 4px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;
}


.container {
    width: 100%;
    height: 100lvh;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem 2rem;
    width: 100%;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    align-items: center;
}

#input {
    border: none;
    padding: .8rem;
    width: 100%;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: .8rem 1.5rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#messages {
    padding: 20px 2rem;
    /* backdrop-filter: blur(10px); */
    height: calc(95% - 100px);
    /* background-image: url("./bg.jpg"); */
    border: 1px solid;
    overflow-y: scroll;
    /* background-color: #1c2c4c; */
}



#messages p:nth-child(1) {
    margin-bottom: 10px;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: calc(100% - 200px);
    width: max-content;
    width: -webkit-max-content;
    background-color: #7cc5d9;
    border-radius: 0px 20px 20px 20px;
    box-shadow: -2px 2px 1px 1px #4c768d;
    color: black;
    padding: 15px;
    margin-bottom: 15px;
}

.chat-message.right {
    background-color: #ffffff;
    border-radius: 20px 0px 20px 20px;
    box-shadow: -2px 2px 1px 1px #88dded;
    margin-left: auto;
}

span.timeStamp {
    margin-top: .5rem;
    font-size: 13px;
    margin-left: auto;
}


#typing-status {
    visibility: hidden;
    text-align: center;
    color: black;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
}

.header ul {
    display: flex;
    gap: 20px;
}

.joined {
    text-align: center;
    color: rgb(27, 25, 25);
}

.user-connected {
    color: black;
    margin-bottom: 10px;

}



@media screen and (max-width:400px) {
    .chat-message {
        max-width: calc(100% - 10px);
        border-radius: 0px 10px 10px 10px;
        padding: 5px;
    }

    .header h2 {
        text-align: center;
    }

}